# Python virtual environment & cache
venv/
__pycache__/
*.pyc

# Next.js & Node modules (Crucial: prevents huge uploads)
node_modules/
.next/
out/

# Secret files
.env
backend/.env
frontend/.env.local